* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #ff7300;
    --secondary-color: #2563eb;
    --accent-color:#C75D66; 
    --accent-color-2:#CC6816;
    --font-family: 'Inter', sans-serif;
}

html{
    overflow-x: hidden;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1rem;
    background-color: var(--primary-color);
    border-bottom:1px solid  var(--accent-color); 
}

header img {
    width: 44px;
    height: auto;
}

header span {
    font-family: Labrada,'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;
    letter-spacing: .5px;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secondary-color);
}

.navigation {
    flex-direction: column;
    display: none;
    background-color: var(--secondary-color);
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    padding: 10px 0;
}

.navigation.show {
    display: flex;
}

.navigation li {
    text-align: center;
    list-style: none;
    padding: 10px;
}

nav a[aria-current= "page"] {
    position: relative;
    font-weight: 700;
    color: #000000;
}

nav a[aria-current="page"]::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--accent-color-2);
    border-radius: 3px;
}

nav a {
    text-decoration: none;
    color:#000000;
    padding: 8px 12px;
    display: block;
    transition: background 0.3s;
}
nav a:hover {
    background: var(--accent-color);
    color: #000;
    font-weight: 600;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger::after {
    content: '\2630';
    font-size: 2rem;  
}

.hamburger.show::after {
    content: '\00d7';
    font-size: 2rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    margin: 0 auto; 
}

.view-buttons{
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background: #e2e2e2;
    color: #000;
    border-radius: 5px;
}

.view-buttons button {
    background:  #ff8c1a;
    color: #000;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 5px;
}

.view-buttons button.active {
    background: var(--accent-color);
    font-weight: bold;
}

button,
a,
input[type="submit"] {
  min-width: 44px;
  min-height: 44px;
}

.member-card {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    transition: transform 0.3s;
}

img.member-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.member-card:hover {
    transform: translateY(-5px);
}

.weather {
    text-align: center;
    background-color: #ddd;
    border-radius: 5px;
    color: #0a0a0a;
}

.forecast {
    text-align: center;
    background-color: #ddd;
    border-radius: 5px;
    color:#141414;
    justify-content: center;
}

.events {
    text-align: center;
    background-color: #ddd;
    border-radius: 5px;
    color:#141414;
    justify-content: center;
}

#directory-container.list {
    display: flex;
    flex-direction: column;
}

#directory-container.list .member-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: .4rem;
    padding: 1rem;
    border-bottom: 1px solid var(--accent-color);
}

#directory-container.list .member-card img {
   display: none;
}

.join-button {
    display: block;
    justify-self: center;
    padding: 10px 20px;
    font-size: 1.25rem;
    background: var(--accent-color);
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 1rem auto;
    padding: 1rem;
}

.join-button:hover {
    background: #ff7300;
}

.local-info h2 {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin: 1rem 0;
}

.spotlight h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    background: #000;
}

div#spotlight-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap value as needed */
}

.spotlight-container > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.spotlight-card {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: 80%;
}

/*************Join Page Form Styling *******************/

.fm-style {
    margin: 1rem 2%;
}
  
    label {
      display: block;
      font-size: .8rem;
      color: rgb(49, 17, 49);
      padding-top: .2rem;
    }
    h3 {
      font-size: .9rem;
      color: #E07A5F;
      margin: 1.5rem 0 .2rem 0;
      border-bottom: 1px solid #eee;
      background-color: rgb(0, 0, 0);
    }
  
    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select {
      display: block;
      margin: .1rem 0 1rem 0 ;
      padding: .3rem;
      border-radius: 4px;
      border: 2px solid #555;
      border-color:#555;
      font-size: 1rem;
      color: #3D405B;
      width: 250px;
    }
  
    input:required {border: 2px solid #d70000;}
    input:focus {border: 2px solid black; outline:none;}
    input:required:valid{border: 2px solid green;}
  
    input[type=submit] {
      border: none;
      text-align: center;
      background-color:var(--primary-color);
      color: white;
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 2rem 0;
      font-size: 1.2rem;
      -webkit-appearance: none;
      appearance: none;
    }
  
  input[type=submit]:hover {
    background-color: var(--accent-color);
    transform: translateY(-2px);
  }

  

  textarea {
    width: 100%;
    height: 100px;
    padding: .5rem;
    border-radius: 4px;
    border: 2px solid #555;
    font-size: 1rem;
    color: #3D405B;
    resize: vertical;
  }

  
.member-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.member-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.membership-cards h2 {
    text-align: center;
    color: var(--primary-color);
    background: #000;
    border-radius: 6px;
}

.card {
    background: #fff;
    border: 1px solid #ccc;
    gap: 1rem;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    transition: opacity 0.3s ease;
    transform: translateY(20px);
    animation: cardFadeIn 0.7s forwards;
}
.card:hover {
    opacity: 1;
    transform: translateY(-4px);

}  

.card button {
    align-self: center;
}

.card:nth-child(2){animation-delay: .2s;}
.card:nth-child(3){animation-delay: .4s;}
.card:nth-child(4){animation-delay: .6s;}

@keyframes cardFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.open-dialog-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: #0c0c0c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
}

.open-dialog-btn:hover {
    background-color: var(--accent-color-2);
    transform: translateY(-2px);
}

dialog.modal {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    max-width: 400px;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    
}

dialog.modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.close-dialog-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

 .membership-cards {
    gap: 1rem;
    grid-template-columns: 1fr;
    display: grid;
    }

/***************Footer Styling ************************/
footer {
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
    color: silver;
    background-color: rgb(20, 20, 20);
    margin-top: 2rem;
}

.socials {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.socials a:hover {
    color: var(--accent-color-2);
}
