@media only screen and (min-width: 38rem) {
    body {
        font-size: 1.25em;
    }

    main {
        max-width: 900px;
        margin: 0 auto;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
        padding: 0;
        justify-content: flex-start;
        gap: 1.25rem;

    }

    nav a[aria-current= "page"] {
    position: relative;
    font-weight: 700;
    color: var(--accent-color-2);
}


    nav {
        background: none;
    }

    header {
        display: grid;
        grid-template-columns:auto 1fr auto; 
        align-items: center;
        gap: 1.5rem;
        padding: 5px 0 5px 10px;
        border-bottom:1px solid var(--accent-color);
    }

    header img {
        width: 100%;
        height: auto;
        align-self: center;
    }

    header span {
        font-family: Labrada,'Times New Roman', Times, serif;
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff;
        letter-spacing: .5px;
    }

    .local-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #spotlight-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    
    .hamburger {
        display: none;
    }

    footer {
        display :grid;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    }

    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .social-links img {
        width: 100%;
    }

}   