@media only screen and (min-width: 38rem) {
    header,main,nav,footer {
        width: 1200px;
        margin: 0 auto; 
    }

    header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 1.5rem;
        padding: 5px 0 5px 10px;
        border-bottom: 1px solid var(--accent-color);
        margin-bottom: 1rem;
    }

    header img {
        width: 50px;
        height: auto;
        padding-bottom: 0;
    }

    .hamburger {
        display: none;
    }

    nav ul {
        display: flex;
    }

    li {
        flex: 1 1 100%;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
        padding: 0;
        justify-content: flex-start;
        gap: 1.25rem;

    }

    .navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    }

    .local-info {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
    }

    .local-info h2 {
        background-color: black;
        color: white;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
    }

    .spotlight h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    #directory-container.grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    #directory-container.grid .member-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .member-card img {
        width: 100%;
        height: auto;
    }

    #directory-container.list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    #directory-container.list .member-card {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr 3fr 1fr;
        gap: 1rem;
        padding: .75rem 1rem;
        border-bottom: 1px solid var(--accent-color);

    }

    #directory-container.list .member-card img {
        display: none;
    }

    #directory-container.list .member-card p,
    #directory-container.list .member-card h3 {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #directory-container.list .member-card p:nth-of-type(1) {
        white-space: normal;
    }

    .spotlight {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
        width: 100%;
    }

    .spotlight-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
        justify-items: center;
    }

    .spotlight h2 {
        text-align: center;
        margin-bottom: 1rem;
        color: white;
        background: #000;
        
    }

    .spotlight-container .spotlight-card {
        background: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        padding: 15px;
        text-align: center;
        transition: transform 0.3s;
    }

    .spotlight-card img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .spotlight-container .spotlight-card:hover {
        transform: translateY(-5px);
    } 

    footer {
        display :grid;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        gap: 1rem;
        padding: 1rem;
        text-align: center;
        color: silver;
        background-color: rgb(20, 20, 20);
        margin-top: 2rem;
    }

   
}