@media only screen and (min-width: 64rem) {
    header,main,nav,footer {
        width: 1200px;
        margin: 0 auto; 
    }

    header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 1.5rem;
        padding: 5px 0 5px 10px;
        border-bottom: 1px solid var(--accent-color);
        margin-bottom: 1rem;
    }

    header img {
        width: 50px;
        height: auto;
        padding-bottom: 0;
    }

    .hamburger {
        display: none;
    }

    nav ul {
        display: flex;
    }

    li {
        flex: 1 1 100%;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
        padding: 0;
        justify-content: flex-start;
        gap: 1.25rem;

    }

    .navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    }

    .join-menu {
        max-width: 900px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .75rem;
        align-items: stretch;
    }

    .join-menu div,
    .membership-card {
        background: #fff;
        padding: 1.5rem;
        border-radius: 8px;
    }

    .membership-card {
        grid-template-columns: repeat(2,1fr);
        align-items: stretch;
    }

    .local-info {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
    }

    div#spotlight-container {
        display: grid;
    }

    #directory-container.grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    #directory-container.grid .member-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .member-card img {
        width: 100%;
        height: auto;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #directory-container.list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    #directory-container.list .member-card {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr 3fr 1fr;
        gap: 1rem;
        padding: .75rem 1rem;
        border-bottom: 1px solid var(--accent-color);

    }

    #directory-container.list .member-card img {
        display: none;
    }

    #directory-container.list .member-card p,
    #directory-container.list .member-card h3 {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #directory-container.list .member-card p:nth-of-type(1) {
        white-space: normal;
    }

    .spotlight {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
        width: 100%;
    }

    .spotlight-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
        justify-items: center;
    }

    .spotlight-container .spotlight-card {
        background: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        padding: 15px;
        text-align: center;
        transition: transform 0.3s;
    }

    .spotlight-card img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .spotlight-container .spotlight-card:hover {
        transform: translateY(-5px);
    } 

    #places-of-interest {
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 1.5rem;
    }

    .place-card {
        display:grid;
        grid-template-columns: 260px 1fr;
        grid-template-areas: 
       "title title"
       "picture description"
       "picture address"
       "button button";
       align-items: start;
       padding: 0;
    }

    .place-card img {
        width: 100%;
        max-width: 250px;
        height: 100%;
        grid-area: picture;
        border-radius: 8px 0 0 8px;
        object-fit: cover;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
    }


    footer {
        display :grid;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        gap: 1rem;
        padding: 1rem;
        text-align: center;
        margin-top: 1rem;
    }

   
}