*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header,main,footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
    gap: 10px;
    background: #e2e2e2;
    padding: 10px;
}

.pro-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 20px;
    background: #a19d9d;
    border: 1px solid #242323;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;

}

.pro-cards img {
    width: auto;
    height: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

